* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.flex-container > div {
    flex: 1;
    padding: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.store {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em ;
    max-width: 1200px;
}

.Coins {
    width: 150px;
    height: 150px;
}

.store button {
    padding: 15px;
}